// bower:scss
@import "bower_components/components-font-awesome/scss/fontawesome.scss";
// endbower
@import "bower_components/bootstrap/scss/bootstrap.scss";

//Colour & nav
@import "colour.scss";

//Responsive
@import "responsive.scss";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    min-height: 100vh;
    cursor: context-menu;
    margin:0;
    background: $grey;
    main{
        background: $white2;
        overflow: hidden;
        width: 100%;
        max-width: 480px;
        min-height: 100vh;
    }
}

#return-to-top {
    position: fixed;
    z-index: 9997;
    bottom: 20px;
    right: -60px;
    width: 40px;
    height: 40px;
    background: #254b9c;
    border-radius: 50%;
    transition: all .5s ease;
    i{
        font-size: 24px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all .5s ease;
    }
    &.active{
        right: 20px;
    }
}

.card-custom{
    background: $white;
    box-shadow:
        0 1.4px 2.2px rgba(0, 0, 0, 0.02),
        0 3.3px 5.3px rgba(0, 0, 0, 0.028),
        0 6.3px 10px rgba(0, 0, 0, 0.035),
        0 11.2px 17.9px rgba(0, 0, 0, 0.042),
        0 20.9px 33.4px rgba(0, 0, 0, 0.05),
        0 50px 80px rgba(0, 0, 0, 0.07)
    ;
    border-radius: 15px;
    position: relative;
}

.card-custom-v2{
    background: $white;
    box-shadow:
        0 0.6px 2.2px rgba(0, 0, 0, 0.02),
        0 1.3px 5.3px rgba(0, 0, 0, 0.028),
        0 2.5px 10px rgba(0, 0, 0, 0.035),
        0 4.5px 17.9px rgba(0, 0, 0, 0.042),
        0 8.4px 33.4px rgba(0, 0, 0, 0.05),
        0 20px 80px rgba(0, 0, 0, 0.07)
    ;
    border-radius: 15px;
}

header{
    background: $white;
    padding: 30px;
    a.logo{
        display: block;
        img{
            height: 35px;
            width: auto;
        }
    }
}

footer{
    padding: 15px 0 60px;
    .top{
        padding: 15px 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .contact{
            a{
                color: $gold;
                display: inline-block;
                padding: 3px;
                border-radius: 50%;
                background: $white;
                width: 40px;
                height: 40px;
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
                text-align: center;
                font-size: 16px;
                padding: 8px;
                margin: 5px;
            }
        }
        .information{
            color: $gold;
            p{
                margin:0;
                font-weight: 700;
                color: $gold;
            }
            h3{
                font-weight: bold;
                color: $gold;
            }
        }
    }
    .bottom{
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .copyright{
            h4{
                margin:0;
                font-size: 14px;
                font-weight: bold;
                color: $gold;
            }
        }
        .logo{
            img{
                height: 30px;
            }
        }
    }
}

section.top-banner{
    padding: 0 0 15px;
    img{
        width: 100%;
    }
}

section.top-description{
    padding: 15px 30px;
    h1{
        font-size: 20px;
        color: $blue;
        font-weight: 700;
    }
    small{
        margin: 0;
        text-align: center;
        display: block;
        font-size: 9px;
        color: $blue;
    }
}

section.composition{
    padding: 100px 30px 60px 30px;
    .cage-composition{
        position: relative;
        top: -50px;
        .main-composition{
            padding: 0 30px;
            position: relative;
            img{
                width: 100%;
                padding: 0 10px;
            }
            .sub-title{
                position: absolute;
                top: 5%;
                left: 35%;
                transform:translate(-50%, 50%);
                color: $blue;
                opacity: 0;
                transition: .5s ease all;
                &.active{
                    opacity: 1;
                    transition: .5s ease all;
                }
                h1{
                    span{
                        font-size: 18px;
                    }
                    font-weight: 700;
                    font-size: 28px;
                    margin: 0;
                }
            }
            .title{
                position: absolute;
                top: 30%;
                right: 0;
                width: 50%;
                text-align: center;
                color: $blue;
                h1{
                    font-size: 64px;
                    margin: 0;
                    font-weight: 700;
                }
                h3{
                    font-size: 24px;
                    margin:0;
                    font-weight: 700;
                }
            }
        }
        .description-composition{
            padding: 0 30px 15px 30px;
            .card-description{
                overflow: hidden;
                position: relative;
                h2{
                    position: relative;
                    top: -300px;
                    left: 0;
                    display: block;
                    margin:0;
                    font-size: 14px;
                    font-weight: 700;
                    padding: 10px 20px;
                    color: $blue;
                    transition: .5s ease all;
                }
                &.active{
                    h2{
                        transition: .5s ease all;
                        top:0;
                    }
                }
            }
        }
    }
    .icon-composition{
        position: relative;
        top: -50px;
        padding: 10px 25px 25px 25px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        .icon-container{
            width: 20%;
            margin-top: 15px;
            padding: 0 5px;
            cursor: pointer;
            display: block;
            &.active{
                .icon-item{
                    &:before{
                        display: none;
                    }
                }
            }
            .icon-item{
                width: 100%;
                padding-top: 100%;
                position: relative;
                z-index: 2;
                background-image: url('../../images/balls.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                justify-content: center;
                align-items: center;
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url('../../images/mute-balls.png');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                h1{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    transform:translateY(-50%);
                    z-index: 5;
                    text-align: center;
                    color: $white;
                    span{
                        display: block;
                        font-size: 12px;
                    }
                    font-weight: 700;
                    font-size: 20px;
                }
            }
        }
    }
}

section.about-tabs{
    padding: 15px 30px;
    .main-tabs{
        padding: 30px;
        .nav-item{
            .nav-link{
                text-align: center;
                font-size: 13px;
                font-weight: 700;
                color: $blue;
                border-radius: 30px;
                &.active{
                    color: $blue;
                    font-weight: 700;
                    background: transparent;
                    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
                }
            }
        }
    }
    .tab-content{
        padding: 0 30px 15px 30px;
        #pills-similac{
            .description{
                display: flex;
                align-items: center;
                h1{
                    font-size: 18px;
                    color: $blue;
                    font-weight: 700;
                }
            }
            .image{
                img{
                    width: 100%;
                }
            }
        }
        #pills-ingredients{
            .btn-group{
                width: 100%;
                border-radius: 30px;
                overflow: hidden;
                .nav-link{
                    width: 50%;
                    text-align: center;
                    background: $grey2;
                    color: $white;
                    border-radius: 0;
                    font-weight: 700;
                    font-size: 13px;
                    &.active{
                        background: $blue2;
                    }
                }
            }
            .tab-content{
                padding: 30px 0;
                ol{
                    padding-left: 15px;
                    li{
                        font-size: 14px;
                        font-weight: 700;
                        color: $blue;
                        padding-bottom: 15px;
                    }
                }
                .image{
                    img{
                        width: 100%;
                    }
                }
            }
        }
        #pills-serving{
            .btn-group{
                width: 100%;
                border-radius: 30px;
                overflow: hidden;
                .nav-link{
                    width: 50%;
                    text-align: center;
                    background: $grey2;
                    color: $white;
                    border-radius: 0;
                    font-weight: 700;
                    font-size: 13px;
                    &.active{
                        background: $blue2;
                    }
                }
            }
            .tab-content{
                padding: 30px 0;
                ol{
                    padding-left: 15px;
                    li{
                        .img-icon{
                            width: 60%;
                            margin-bottom: 15px;
                            display: block;
                        }
                        font-size: 14px;
                        font-weight: 700;
                        color: $blue;
                        padding-bottom: 25px;
                        &:last-child(){
                            padding-bottom: 10px;
                        }
                    }
                }
                .image{
                    img{
                        width: 100%;
                    }
                    padding-bottom: 15px;
                }
                p{
                    font-size: 13px;
                    text-align: center;
                    margin:0;
                    color: $blue;
                    font-weight: bold;
                }
            }
        }
    }
}

section.video{
    padding: 60px 30px;
    .embed-responsive{
        border-radius: 15px;
        overflow: hidden;
    }
}

section.product{
    padding: 15px 30px;
    .accordion{
        .card{
            border: none;
            .card-header{
                border: none;
                border-radius: 15px;
                background: $white;
                box-shadow:
                    0 0.6px 2.2px rgba(0, 0, 0, 0.02),
                    0 1.3px 5.3px rgba(0, 0, 0, 0.028),
                    0 2.5px 10px rgba(0, 0, 0, 0.035),
                    0 4.5px 17.9px rgba(0, 0, 0, 0.042),
                    0 8.4px 33.4px rgba(0, 0, 0, 0.05),
                    0 20px 80px rgba(0, 0, 0, 0.07)
                ;
                .btn-block{
                    outline: none;
                    box-shadow: none;
                    font-weight: 700;
                    text-decoration: none;
                    position: relative;
                    color: $blue;
                    &:before{
                        content: '\f068';
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 700;
                        position: absolute;
                        top: 50%;
                        right: 12px;
                        transform: translateY(-50%);
                    }
                    &.collapsed{
                        &:before{
                            content: '\f067';
                        }
                    }
                }
            }
            .collapse-cage{
                padding: 30px;
                .image{
                    img{
                        width: 100%;
                    }
                }
                .description{
                    color: $blue;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    h2{
                        font-size: 14px;
                        margin:0;
                        font-weight: 700;
                    }
                    .pills-product{
                        border: 1px solid $blue;
                        display: inline-block;
                        border-radius: 15px;
                        font-size: 10px;
                        font-weight: 700;
                        margin-bottom: 3px;
                        text-align: center;
                    }
                }
                p{
                    color: #ff0000;
                    font-weight: 700;
                    font-size: 10px;
                }
            }
        }
    }
}

section.faq{
    padding: 60px 30px 30px;
    h1.title{
        text-align: center;
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 700;
        color: $blue;
    }
    .accordion{
        .card{
            margin-bottom: 15px;
            border:none;
            border-radius: 15px;
            box-shadow:
                0 0.6px 2.2px rgba(0, 0, 0, 0.02),
                0 1.3px 5.3px rgba(0, 0, 0, 0.028),
                0 2.5px 10px rgba(0, 0, 0, 0.035),
                0 4.5px 17.9px rgba(0, 0, 0, 0.042),
                0 8.4px 33.4px rgba(0, 0, 0, 0.05),
                0 20px 80px rgba(0, 0, 0, 0.07)
            ;
            .card-header{
                background: $blue2;
                .btn-link{
                    text-decoration: none;
                    font-weight: 700;
                    color: $white;
                    outline: none;
                    box-shadow: none;
                    position: relative;
                    padding-right: 32px;
                    &:before{
                        content: '\f106';
                        font-weight: 700;
                        font-family: 'Font Awesome 5 Free';
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                    }
                    &.collapsed{
                        &:before{
                            content: '\f107';
                        }
                    }
                }
            }
            .card-body{
                color: $blue2;
                font-weight: 600;
                small{
                    display: block;
                    font-size: 12px;
                    margin-top: 15px;
                }
            }
        }
    }
}

section.whatsapp{
    cursor: pointer;
    padding: 0 30px 30px 30px;
    .card-custom{
        border-radius: 30px;
        .card-header{
            text-align: center;
            background: $white;
            font-weight: 700;
            border-radius: 30px;
            color: $blue2;
            display: flex;
            align-items:center;
            justify-content: center;
            font-size: 14px;
            text-decoration: none !important;
            i{
                color: $gold;
                font-size: 28px;
                padding-right: 10px;
            }
        }
    }
}

section.shop{
    padding: 0 30px 30px 30px;
    .card-custom{
        padding-bottom: 10px;
        border-radius: 30px 30px 15px 15px;
        .card-header{
            text-align: center;
            background: linear-gradient(180deg, rgba(231, 204, 93, 1) 0%, rgba(195, 143, 53, 1) 100%);
            color: $white;
            font-weight: 700;
            border-radius: 30px 30px 0 0;
        }
        .row{
            margin: 5px 0;
            .col-3{
                a{
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    &:hover{
                        span{
                            color: $blue;
                        }
                    }
                    img{
                        width: 100%;
                    }
                    span{
                        display: block;
                        text-align: center;
                        text-decoration: none;
                        color: $blue2;
                        font-weight: 700;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

section.shop-float{
    position: fixed;
    bottom: -100px;
    left: 50%;
    width: 100%;
    max-width: 480px;
    transform:translateX(-50%);
    padding: 0;
    transition: .5s ease all;
    cursor: pointer;
    &.active{
        bottom: 0px;
        transition: .5s ease all;
    }
    .card-custom{
        border-radius: 0;
        .card-header{
            text-align: center;
            background: linear-gradient(180deg, rgba(231, 204, 93, 1) 0%, rgba(195, 143, 53, 1) 100%);
            color: $white;
            font-weight: 700;
            border-radius: 0;
        }
    }
}