@import "colour.scss";

// Extra small devices (portrait phones, less than 341px)
@media (max-width: 341.98px) {
	body{
		main{
			section.composition{
				.cage-composition{
					.main-composition{
						.sub-title{
							top:0;
							left: 37%;
							h1{
								span{
									font-size: 12px;
								}
								font-size: 24px;
							}
						}
						.title{
							h1{
								font-size: 32px;
							}
							h3{
								font-size: 14px;
							}
						}
					}
				}
				.icon-composition{
					justify-content: center;
					.icon-container{
						width: 33.3%;
						.icon-item{
							h1{
								span{
									font-size: 9px;
								}
								font-size: 14px;
							}
						}
					}
				}
			}
			section.about-tabs{
			    .main-tabs{
			        .nav-item{
			            .nav-link{
			            	font-size: 7px;
			            }
			        }
			    }
			    .tab-content{
			        #pills-similac{
			            .description{
			                h1{
			                    font-size: 7px;
			                }
			            }
			        }
			   		#pills-ingredients{
			   			.col-6{
			        		flex: 0 0 100%;
			        		width: 100%;
			        		max-width: 100%;
			        	}
			            .btn-group{
			                .nav-link{
			                	font-size: 7px;
			                }
			            }
			            .tab-content{
			            	ol{
			            		li{
			            			font-size: 8px;
			            			padding-bottom: 8px;
			            		}
			            	}
			            }
			        }
			        #pills-serving{
			        	.col-6{
			        		flex: 0 0 100%;
			        		width: 100%;
			        		max-width: 100%;
			        	}
			            .btn-group{
			                .nav-link{
			                	font-size: 7px;
			                }
			            }
			            .tab-content{
			            	ol{
			            		li{
			            			.img-icon{
			            				width: 40%;
			            			}
			            			font-size: 8px;
			            		}
			            	}
			            	p{
			            		font-size: 11px;
			            	}
			            }
			        }
			    }
			}
			section.product{
				.accordion{
					.card{
						.collapse-cage{
							.description{
								h2{
									font-size: 8px;
								}
								.pills-product{
									font-size: 5px;
								}
							}
						}	
					}
				}
			}
			section.shop{
				.card-custom{
					.row{
						.col-3{
			        		a{
			        			span{
			        				display: none;
			        			}
			        		}
						}
					}
				}
			}
			footer{
				.top{
					.contact{
						a{
							width: 25px;
							height: 25px;
							font-size: 12px;
							padding: 4px;
						}
					}
					.information{
						p{
							font-size: 14px;
							text-align: right;
						}
						h3{
							text-align: right;
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 342px) and (max-width: 419.98px) {
	body{
		main{
			section.composition{
				.cage-composition{
					.main-composition{
						.sub-title{
							top: 3%;
						}
						.title{
							h1{
								font-size: 48px;
							}
							h3{
								font-size: 18px;
							}
						}
					}
				}
			}
			section.about-tabs{
			    .main-tabs{
			        .nav-item{
			            .nav-link{
			            	font-size: 10px;
			            }
			        }
			    }
			    .tab-content{
			        #pills-similac{
			            .description{
			                h1{
			                    font-size: 12px;
			                }
			            }
			        }
			        #pills-ingredients{
			            .btn-group{
			                .nav-link{
			                	font-size: 10px;
			                }
			            }
			            .tab-content{
			            	ol{
			            		li{
			            			font-size: 12px;
			            			padding-bottom: 8px;
			            		}
			            	}
			            }
			        }
			        #pills-serving{
			            .btn-group{
			                .nav-link{
			                	font-size: 10px;
			                }
			            }
			            .tab-content{
			            	ol{
			            		li{
			            			font-size: 12px;
			            		}
			            	}
			            	p{
			            		font-size: 11px;
			            	}
			            }
			        }
			    }
			}
			section.product{
				.accordion{
					.card{
						.collapse-cage{
							.description{
								h2{
									font-size: 10px;
								}
								.pills-product{
									font-size: 7px;
								}
							}
						}	
					}
				}
			}
			section.shop{
				.card-custom{
					.row{
						.col-3{
							a{
								span{
			        				font-size: 9px;
								}
							}
						}
					}
				}
			}
		}
	}
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 420px) and (max-width: 575.98px) {
	body{
		main{

		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	body{
		main{

		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
	body{
		main{
			footer{
				.top{
					.contact{
						a{
							width: 50px;
    						height: 50px;
							font-size: 20px;
    						padding: 10px;
						}
					}
				}
			}
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	body{
		main{
			footer{
				.top{
					.contact{
						a{
							width: 50px;
    						height: 50px;
							font-size: 20px;
    						padding: 10px;
						}
					}
				}
			}
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	body{
		main{
			footer{
				.top{
					.contact{
						a{
							width: 50px;
    						height: 50px;
							font-size: 20px;
    						padding: 10px;
						}
					}
				}
			}
		}
	}
}